<div class="d-flex">
  <!--FILTROS-->
  <div id="sidebar">
    <div class="list-group">

      <!-- CLIENTE -->
      <label>Cliente:</label>
      <div class="input-group mb-3">
        <input type="text" (keyup)="filtroCliente($any($event.target).value)" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button">X</button>
        </div>
      </div>

      <!-- REFERENCIA -->
      <label>Referencia:</label>
      <div class="input-group mb-3">
        <input type="text" (keyup)="filtroReferencia($any($event.target).value)" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button">X</button>
        </div>
      </div>

      <!-- USUARIO -->
      <label>Usuario:</label>
      <div class="input-group mb-3">
        <input type="text" (keyup)="filtroUsuario($any($event.target).value)" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button">X</button>
        </div>
      </div>

      <!-- FECHA -->
      <label>Fecha:</label>
      <div class="input-group mb-3">
        <div >
          <input type="date" class="form-control">
          <input type="date" class="form-control">
        </div>
        

        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button">X</button>
        </div>
      </div>

      <!-- TIPO -->
      <label>Tipo:</label>
      <div class="input-group mb-3">
        <select class="custom-select" (change)="filtroTipo($any($event.target).value)">
          <option selected>Todos</option>
          <option  *ngFor="let tipo of arrayTipos" value="{{tipo}}">{{tipo}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button">X</button>
        </div>
      </div>

      <!-- ESTADOS -->
      <label>Estados:</label>
      <div class="box">

        <div class="form-check" *ngFor="let estado of arrayEstados">
          <input class="form-check-input" type="checkbox" value="{{estado}}" id="{{estado}}" 
          (change)="filtroEstado($any($event.target).value, $any($event))">
          <label class="form-check-label" for="{{estado}}">
            {{estado}}
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary">Buscar</button>
    </div>
  </div>



  <!-- CONTENIDO CENTRAL-->
  <div class="content w-100">
    <nav id="main">
      <div class="container-xl">
        <!-- TABLA-->
        <p-table  #dt [value]="arrayTareas" [paginator]="true" [rows]="7">
          <ng-template pTemplate="header">
            <th *ngFor="let col of cols">
              {{col.header}}
          </th>
          </ng-template>
          <ng-template pTemplate="body" let-tarea>
              <tr>
                <!-- Imagen y referencia-->
                <th>
                  <p>
                    <img src="{{tarea.logo}}" width="50px">
                    {{tarea.referencia}}
                  </p>
                </th>
          
                <!--Cantidad-->
                <td>
                  <p>
                    <img *ngIf="tarea.observacion === ''" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Obs. linea: {{tarea.observacion}}&#13;Obs. pedido: &#13; Pedido por: {{tarea.usuario}}"
                      src="https://upload.wikimedia.org/wikipedia/commons/2/25/Info_icon-72a7cf.svg" width="20px">
          
                    <img *ngIf="tarea.observacion != ''" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Obs. linea: {{tarea.observacion}}&#13;Obs. pedido: &#13; Pedido por: {{tarea.usuario}}"
                      src="https://icones.pro/wp-content/uploads/2021/05/symbole-d-avertissement-jaune.png" width="20px">
                    x{{tarea.cantidad}}
                  </p>
                </td>
          
                <!--Estado-->
                <td>
                  <p class="btn btn-sm btn-secondary" *ngIf="tarea.estado === 'Pendiente'">{{tarea.estado}}</p>
                  <p class="btn btn-sm btn-primary" *ngIf="tarea.estado === 'Desconsolidada'">{{tarea.estado}}</p>
                  <p class="btn btn-sm btn-success" *ngIf="tarea.estado === 'Entregada'">{{tarea.estado}}</p>
                </td>
          
                <!--Tipo-->
                <td>
          
                  <p class="btn btn-sm btn-dark" *ngIf="tarea.tipo === 'Mesa'">{{tarea.tipo}}</p>
                  <p class="btn btn-sm btn-info" *ngIf="tarea.tipo === 'Ruta'">{{tarea.tipo}}</p>
                </td>
          
                <!--Fecha-->
                <td>
                  <p>{{tarea.fecha | date:'medium'}}</p>
                </td>
          
                <!--Cliente-->
                <td>
                  <p>
                    <small>{{tarea.codigo_cliente}}</small> {{tarea.alias_cliente}}
                  </p>
                </td>
              </tr>
          </ng-template>
        </p-table>
        <!--ROW COUNT-->
        <p>LÍNEAS: {{rowCount}}</p>
      </div>
    </nav>
  </div>
</div>
